.fade-enter-active {
  animation: fade 0.5s;
}

.fade-leave-active {
  animation: fade 0.5s reverse;
}

@keyframes bg-moving {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: 0% 300%;
	}
}

@keyframes slide {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    background: red;
    color: lightcyan;
    text-shadow: 0 0 100px #fff;
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    opacity: 1;
  }
}

@keyframes real-fade {
  0% {
  }

  100% {
    opacity: 1;
  }
}

@keyframes push {
  0% {
    width: 0;
  }
  
  100% {
    opacity: 1;
    width: 100%;
  }
}